#app {
    overflow: hidden;
}

.opPage {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

.salePage {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    height: 40rem;
    overflow-y: auto;
}

.container {
    align-items: center;
}

.col {
    width: 1px;
}

.card-title {
    padding-top: 1px !important;
}


.carouselimg {
    object-fit: cover;
    height: 70rem
}

.carousel {
    height: 70rem;
}

.modiv {
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.homepageWelcome {
    background-color: rgb(133, 133, 133, 0.8);
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.welcome {
    margin-bottom: 50px;
}


@media(max-width: 414px) {
    .carouselimg {
        object-fit: cover;
        height: 20rem
    }

    .carousel {
        height: 20rem;
    }
    
    .homepageWelcome {
        background-color: rgb(133, 133, 133, 0.8);
        padding: 2rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    .modiv {

        color: white;
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

}