#app {
    overflow: hidden;
}

.opPage {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

.Page {
    width: 70%;
    margin: 150px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    height: 50rem;
    overflow-y: auto;
}

.track {
    align-items: center;
    height: 60rem;
}

.kpicard:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.container {
    align-items: center;
}

.col {
    width: 1px;
}

.card-title {
    padding-top: 1px !important;
}

.bbox {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background: var(--accent);
    cursor: pointer;
}


.carouselimg {
    object-fit: cover;
    height: 70rem
}

.carousel {
    height: 70rem;
}

.modiv {
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.homepageWelcome {
    background-color: rgb(133, 133, 133, 0.8);
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.welcome {
    margin-bottom: 50px;
}

.solarnavbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.background-image {
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/45992f1c-a33a-4a04-b1f0-338aff182f8e/bvlatuR/std/2880x1800/_25-Hero-D');
    background-repeat: no-repeat;
    background-size: cover;
}

.cm-text {
    height: 60px;
    width: 200px !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .col-text {
 font-size: .5rem;
} */


@media(max-width: 1450px) {
    .Page {
        width: 100%;
        margin: 90px auto;
    }
}


@media(max-width: 860px) {
    .Page {
        width: 100%;
        margin: 90px auto;
    }

    .tab-text {
        font-size: 1rem;
    }

    .cm-text {
        font-size: .8rem;
        width: 10rem !important;
    }

}

@media(max-width: 700px) {
    .cm-text {
        font-size: .5rem;
        width: 7rem !important;
        height: 40px;
    }

    .col-text {
        font-size: .5rem;
    }
}

@media(max-width: 500px) {
    .cm-text {
        font-size: .5rem;
        width: 5rem !important;
        height: 60px;
    }
}


@media(max-width: 414px) {
    .tab-text {
        font-size: .5rem;
    }

    .carouselimg {
        object-fit: cover;
        height: 20rem
    }

    .carousel {
        height: 20rem;
    }

    .homepageWelcome {
        background-color: rgb(133, 133, 133, 0.8);
        padding: 2rem;
        border-radius: 5px;
        font-size: 1rem;
    }

    .modiv {

        color: white;
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    form {
        width: 100%;
    }

    .background-image {
        background-image: none;
        background-size: cover;
        background-repeat: repeat;
        min-height: 100%;
    }

    .cm-text {
        font-size: .5rem;
        /* height: 60px;
        width: 200px !important ;
        display: inline-block;
        overflow: hidden; 
        text-overflow: ellipsis; */
    }

}