*node_modules/*
.DS_Store

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
finalproject/__pycache__/*.pyc
solar/__pycache__/*.pyc
api/__pycache__/*.pyc

# Backup files #
*.bak

# Python #
*$py.class

*.vscode

# static JS files
solar/static/solar/*

# webpack
webpack-stats.json
