#about{
    margin-top:5rem;
    margin-bottom: 5rem;
}

.aboutContainer{
    width: 70%;
    margin: auto;

}
#solarimg {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 15rem;
    /* padding: 100px; */
    margin: auto;
}

.about-heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: rgb(237, 166, 73);
    /* border-bottom: 1px solid black; */
}
.about-text{
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;
    margin: auto;
}


/* @media(max-width: 1200px) {
    .about-heading {
        margin-left: 2vw;
    }

    .about-text {
        width: 100%;
        margin-left: 2vw;
    }
} */

/* @media(max-width: 912px) {
    #solarimg {
        width: 29rem;
        padding-bottom: 2rem;

    }

    .about-text {
        width: 70vw;
    }
} */


/* @media(max-width: 776px) {
    #solarimg {
        width: 20rem;
        padding-bottom: 2rem;

    }

    .about-text {
        width: 20rem;
    }
} */

/* @media(max-width: 520px) {
    #solarimg {
        width: 15rem;
        padding-bottom: 2rem;
    }

    .about-text {

        width: 18rem;
        font-size: .8rem;
    }
} */

@media(max-width: 414px) {
    #solarimg {
        margin-top: 5px;
        width: 100%;
        padding: 2rem;
    }

    .about-text {
        padding: 5vw;
        width: 100%;
        font-size: .8rem;
        justify-content: center;
    }
}